@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/font-faces' as *;

.hero-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  &__header {
    font-family: 'Baskerville Bold';
    color: black;
  }

  &__copy,
  &__sub-copy {
    color: rgb(206, 123, 102);
  }

  &__bottom {
    display: flex;
    flex-direction: column;
  }

  &__book-btn {
    width: 14rem;
  }
}

@include small() {
  .hero-section {
    width: 90%;

    &__header {
      font-size: 2.75rem;
    }

    &__copy-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 3rem;
    }

    &__copy {
      font-size: 1.5rem;
      padding-bottom: 1.125rem;
    }

    &__sub-copy {
      padding-bottom: 5rem;
    }
  }
}

@include medium() {
  .hero-section {
    width: 40%;

    &__header {
      font-size: 2.75rem;
    }

    &__copy-container {
      display: flex;
      flex-direction: column;
      width: 70%;
      margin-left: auto;
      margin-top: 3rem;
    }

    &__copy {
      font-size: 1.5rem;
      padding-bottom: 1.125rem;
    }

    &__sub-copy {
      padding-bottom: 2rem;
    }
  }
}

@include large() {
  .hero-section {
    width: 40%;

    &__header {
      font-size: 4rem;
    }

    &__copy-container {
      display: flex;
      flex-direction: column;
      width: 70%;
      margin-left: auto;
      margin-top: 3rem;
    }

    &__copy {
      font-size: 1.5rem;
      padding-bottom: 2rem;
    }

    &__sub-copy {
      padding-bottom: 2rem;
    }
  }
}
