@font-face {
  font-family: 'Baskerville Light';
  src: url('../../assets/fonts/BASKE9.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Baskerville Bold';
  src: url('../../assets/fonts/BaskervilleBoldBT.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../../assets/fonts/Futura\ Book\ font.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Bold';
  src: url('../../assets/fonts/Futura\ Bold\ font.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
