@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/font-faces' as *;

.nail-page {
  width: 100%;
  height: fit-content;
  background-color: #f7f4f2;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header-copy {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    font-family: 'Baskerville Bold';
    color: rgb(248, 190, 175);
    margin-top: 10rem;
  }

  &__services-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
  }

  &__service-category {
    margin-bottom: 2rem;
  }

  &__category-header {
    font-size: 2rem;
    font-family: 'Baskerville';
    color: rgb(137, 174, 190);
  }

  &__manicure-info {
    font-weight: 700;
    margin-top: 2rem;
    padding-bottom: 1rem;
  }

  &__addon-services,
  &__pedicure-services {
    margin-top: 2rem;
  }
}

@include small() {
  .nail-page {
    padding: 2rem 2rem 10rem 2rem;
  }
}

@include medium() {
  .nail-page {
    padding-bottom: 10rem;
    &__header-copy {
      width: 40%;
    }

    &__services-list {
      width: 70%;
    }
    &__header {
      font-size: 2.5rem;
    }

    &__service-category {
      width: 50%;
    }
  }
}

@include large() {
  .nail-page {
    padding-bottom: 10rem;
    &__services-list {
      width: 60%;
    }
    &__header {
      font-size: 4rem;
    }

    &__service-category {
      width: 50%;
    }
  }
}
