@use './styles/partials/_resets.scss' as *;

.app {
  position: relative;
  min-height: 100vh;

  &__nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__footer {
    width: 100%;
    bottom: 0;
    left: 0;
  }
}
