@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/font-faces' as *;

.home-page {
  width: 100%;
  background: linear-gradient(135deg, #f8beaf 0%, #ffe3c2 49%, #ffffff 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
