.video-modal {
  &__overlay {
    position: fixed;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.75);
  }

  &__modal-container {
    margin: 0 auto;
    margin-top: 10rem;
    height: 800px;
    width: 42rem;
    position: relative;
  }
}
